[package]
name = "tofn"
version = "0.1.0"
authors = ["Gus Gutoski <gus@axelar.network>"]
edition = "2018"

[lib]
crate-type = ["lib"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
bincode = "1.2.1"
rand_chacha = "0"
hmac = "0"

# k256 baggage
k256 = "0"
rand = "0"
sha2 = "0"
ecdsa = "0" # needed only for FromDigest trait

# logging
log = "0.4"
tracing = "0.1"

# TODO need a better Paillier library
# paillier = { git = "https://github.com/axelarnetwork/rust-paillier"}
paillier = { path = "../rust-paillier2"}

# iterate enums
strum = "0.20"
strum_macros = "0.20"

[dev-dependencies]
lazy_static = "1.4"
tracing-test = "0.1.0" # enable logging for tests

[features]
malicious = []
