[package]
name = "tofn"
version = "0.1.0"
authors = ["Gus Gutoski <gus@axelar.network>", "Milap Sheth <milap@axelar.network>"]
edition = "2018"

[lib]
crate-type = ["lib"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
bincode = "1.2.1"
rand_chacha = "0"
hmac = "0"
zeroize = { version = "1.4", features = ["zeroize_derive"] }

# k256 baggage
k256 = { version = "0", features = ["ecdsa", "zeroize"], default-features = false }
ecdsa = { version = "0", features = ["digest"], default-features = false } # needed only for FromDigest trait
rand = "0"
sha2 = { version = "0", features = ["std"], default-features = false }

# logging
tracing = {version = "0", default-features = false}

# TODO need a better Paillier library
paillier = { git = "https://github.com/axelarnetwork/rust-paillier"}

[dev-dependencies]
tracing-test = "0" # enable logging for tests
tracing-subscriber = { version = "0", features = ["env-filter", "fmt"], default-features = false }

# Don't abort in case there is a panic to clean up data
[profile.dev]
panic = "unwind"

[profile.release]
panic = "unwind"

[features]
malicious = []
